# R profile files
*.Rproj.user
*.Rhistory
.Rproj.user

# log files
*.log

# data files
*.tif
*.tar
*.tar.bil
*.bil
*.hdr
*.prj
*.aux.xml
*.stx
*.qml
*.tar.gz

# system files
.directory

# temp files
*.png

# do not ignore the following files
!.gitkeep
!*/
